

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: auto;

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
        }

        .nav {
            display: none;
        }
        .nav-small {
            .nav-option {
                padding: .2em 0;
            }
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .creators {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;

        .footer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            img {
                width: 15%;
                padding: .5em;
            }
        }

        .footer-nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .nav-option {
                padding: 1em;
            }
        }
    }
}